/*******************************************************************/
/*                                                                 */
/*  AutoTransform.rc                                               */
/*                                                                 */
/*  Windows Resource Script for AutoTransform plugin               */
/*                                                                 */
/*******************************************************************/

#include "AutoTransform.rcp"
